.main-bg {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 639px;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(/photos/city.png);
  // filter: brightness(53%);
  z-index: -1;
}

.main-bg-content {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  width: 650px;
  // margin: 0 130px;
  align-items: flex-start;

}

.main-bg-button {
  transition: all .5s ease;
    color: #fff;
    border: 3px solid white;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : transparent;
    padding: 10px;
    outline: none;
    cursor: pointer;
}
.main-bg-button:hover {
    color: #001F3F;
    background-color: #fff;
}

// media
@media (max-width: 690px){
  .main-bg-content {
    align-items: center;
    transform: translateY(25%);
  }
  .main-bg-content p {
    text-align: center;
  }
  .main-bg {
    height: 1050px;
  }
}
@media (max-width: 1025px){
  .main-bg-content {
    align-items: center;
    transform: translateY(25%);
  }
  .main-bg-content p {
    text-align: center;
  }
  .main-bg {
    height: 1050px;
  }
}
